.main-nav {
  background-color: #283645;
}

.main-nav__list {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid white;
}

.main-nav__item {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.main-nav__link {
  display: block;
  margin: 0;
  padding: 24px 5px 22px;

  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
